* {
    margin: 0;
    padding: 0;
    font-weight: 300;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
html{
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
body{
    margin: .5rem;
}
h1{
    text-align: center;
    margin-bottom: 1rem;
}
.add-form input{
    border: 1px solid #28a0d2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: .5rem;
    width: 100%;
    outline: 0;
    line-height: 2.5rem;
    font-size: 1.3rem;
    padding: 0 .5rem;
}
.sort-panel{
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    color: white;
    background-color: #555;
}
.sort-panel:hover{
    background-color: #333;
    cursor: pointer;
}
.task{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 1.3rem;
    line-height: 2rem;
    padding: .5rem 2rem .5rem 0;
    background-color: #eee;
    margin-bottom: 3px;
}
.task:hover{
    background-color: #ddd;
    cursor: pointer;
}
.task .checkbox:before{
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 0 .5rem;
    background-color: #aaa;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    border-radius: .5rem;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    cursor: pointer;
}
.task.completed .checkbox:before{
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 1.5rem;
    color: #f3f3f3;
    text-align: center;
    line-height: 2rem;
}
.task.completed .task-title{
    text-decoration: line-through;
    word-wrap: break-word;
}
.task:hover .del-btn{
    display: block;
}
.task.editing{
    background-color: #F7E5C5!important;
}
.del-btn{
    height: 2rem;
    position: absolute;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
    right: 1rem;
    background: #ccc;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    border-radius: .5rem;
    display: none;
}
.del-btn:hover{
    background-color: #aaa;
    cursor: pointer;
}
.task-content{
    width: calc(100% - 4rem);
}
.edit-title{
    width: 100%;
    display: block;
    border: none;
    font-size: 1.3rem;
    background: none;
    word-wrap: break-word;
    line-height: 2rem;
}
textarea{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: auto;
    resize: none;
    -webkit-transition: height 300ms ease;
    -moz-transition: height 300ms ease;
    -ms-transition: height 300ms ease;
    -o-transition: height 300ms ease;
    transition: height 300ms ease;
    overflow: hidden;
}