<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo App</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" href="app.css">
</head>
<body data-ng-app="app">
    <div class="container" data-ng-controller="mainCtrl">
        <h1 data-ng-if="model.tasks.length===0">You've got nothing to do</h1>
        <h1 data-ng-if="model.tasks.length===1">You've got 1 thing to do</h1>
        <h1 data-ng-if="model.tasks.length>1">You've got {{model.tasks.length}} things to do</h1>
        <form class="add-form" name="add-form" data-ng-submit="addTask(model.new_task)">
            <input type="text"
                   placeholder="I NEED TO..."
            data-ng-model="model.new_task">
        </form>
        <div class="task-list">
            <div class="sort-panel"
                data-ng-click="model.reverse = !model.reverse"
                data-ng-show="model.tasks.length>0">
                <span data-ng-if="model.reverse">&#8593;</span>
                <span data-ng-if="!model.reverse">&#8595;</span>
            </div>
            <div class="task-list">
                <div class="task"
                     data-ng-repeat="task in model.tasks | orderBy:'title':model.reverse track by $index"
                     data-ng-class="{completed: task.completed, editing: edit}"
                     data-ng-init="edit=false"
                     data-ng-click="edit=true">
                    <div class="checkbox"
                         data-ng-click="task.completed = !task.completed;; $event.stopPropagation();">
                    </div>
                    <div class="task-content" task-content title="task.title" edit="edit"></div>
                    <div class="del-btn"
                        title="Remove a task"
                        data-ng-click="removeTask(task); $event.stopPropagation();">&#10005;</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>